@media print {
	body {
		font-size: 10pt;
	}
	* {
		color: black !important;
	}
	#header {
		display: none;
	}
	#footer {
		display: none;
	}
	.print_hide {
		display: none !important;
	}
	#sidebar {
		display: none !important;
	}
}
@media screen {
	.print_show {
		display: none;
	}
}
.spacer {
  clear: both;
}

.small_table {
	padding: 0em;
	border: 0px; border-collapse: collapse;
	margin: 0em;
}
.small_table * {
	padding: 0em;
	border: 0px;  border-collapse: collapse;
	margin: 0em;
}
body{
	margin: 0em;
	padding: 0em;
/*	background-color: black;*/
/*	color: #D3D3D3;*/
/*	font-family: Tahoma, Verdana, Helvetica, Arial,sans-serif;*/
}
body a{
/*	color: #FFA500;*/
}
#header {
	z-index: 1;
	height: 4em;
	margin: 0em;
	padding: 0em;
	padding-left: 13em;
	background-color: #EEEEEE;
	border-bottom: 2px solid lightgrey;
}
#header h1 {
	margin: 0em;
	padding: 0em;
	padding-top: 0.5em;
	text-align: center;
}

#content {
	z-index: 0;
	padding-left: 13em;
}

#footer {
	z-index: 1;
	height: 3em;
	margin: 0em;
	border: none;
	border-top: 1px solid lightgrey;
	padding: 0em;
	padding-top: 0.5em;
	padding-left: 13em;
/* 	padding-right: 1em; */
	background-color: #EEEEEE;
}
#footer img {
	border: 0px;
}

.highlighted a {
/* 	display: block; */
/* 	text-decoration: none; */
	height: 24px;
	width: 24px;
/* 	border: solid 1px #101010; */
/* 	vertical-align: center; */
}

.highlighted a:hover {
	border-bottom: solid 2px orange;
/* 	background-color: #303030; */
}

#sidebar {
	position: fixed;
	z-index: 10;
	width: 11em;
	margin: 0.5em;
	padding: 0em;
	height: 97%;
	background-color: #EEEEEE;
	border: 3px solid lightgrey;
	background: solid;
}
#sidebar p {
	margin: 0em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-size: 80%;
/*	text-align: justify;*/
}
#sidebar h5 {
	margin: 0.5em;
	margin-top: 1em;
	border-top: 2px solid darkblue;
	text-align: left;
}

#menu {
	width: 100%;
	margin: 0em;
	border: 0px; border-collapse: collapse;
	padding: 0em;
}
#menu * {
	margin: 0em;
	border: 0px; border-collapse: collapse;
	padding: 0em;
}
#menu td {
	width: 100%;
}

#menu a {
	padding-left: 0.5em;
	padding-right: 0.5em;
	display: block;
	text-decoration: none;
	font-weight: bold;
	vertical-align: center;
	color: black;
/*	color: grey;*/
/*	background-color: #c3e0cb;*/
	border: 0px;
/*	border-right: 10px solid #c3e0cb;*/
/*	border-left: 5px solid #c3e0cb;*/
}
#menu a:hover {
/*	color: #18602b;*/
	color: darkblue;
	background-color: lightgrey;
/*	border: 0px;*/
/*	border-right: 10px solid #777777;*/
/*	border-left: 5px solid grey;*/
}
